body {
  background-color: rgb(234, 237, 237);
}
.yellowBtn{
  width: max-content;
  border-radius: 12px;
  padding: 8px 16px;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  background-color: #ffd814;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.288);
}
.lightBtn{
  width: max-content;
  border-radius: 12px;
  padding: 8px 16px;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  background-color: rgb(250, 250, 250);
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.151);
}
.hover-mask:hover{
  filter: brightness(90%);
  transition: 0.15s;
}
.linkText{
  color: #007185;
  text-decoration: none;
  cursor: pointer;
}
.linkText:hover{
  color: #e78c04;
  transition: 0.1s;
}

.cartItem{
  min-height: 200px;
  align-items: center;
}
.cartItemImg{
  height: 100%;
  object-fit: contain;
}
.cartItemHeader{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}
.cartItemTitle{
  width: 70%;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1;
}
.cartItemPrice{
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1;
}
.cartItemQuantityContainer{
  height: 36px;
  display: flex;
  align-items: center;
}
.cartItemQuantityContainer div{
  padding: 0 10px;
  display: flex;
  align-items: center;
  
  height: 100%;
  color: black;
  background-color:  rgb(245, 245, 245);
}

.cartItemQuantityContainer span{
  margin-left: 18px;
}

.cartItemQuantityDecrease{
  border-radius: 0 4px 4px 0;
}
.cartItemQuantityIncrease{
  border-radius: 4px 0 0 4px;
}
.cartItemQuantityContainer input{
  width: 72px;
}

